.products-page {
    min-height: calc(100vh - 250px);
    background-color: #f9f9f9;
    margin: 25px 0 0 0;

  
    .container{
      padding: 90px;
    }

    h2{
      margin: 35px 0;
    }

    .bg-item{
      margin-top: 20px;
    }

    .card {
      border: none;
      border-radius: 10px;
      overflow: hidden;
  
      &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      }
  
      .card-img-top {
        height: 200px;
        object-fit: cover;
      }
  
      .card-body {
        padding: 1.5rem;
      }
  
      .card-title {
        color: #333;
        font-size: 1.25rem;
      }
  
      .btn-success {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-weight: 500;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }