<!-- header.component.html -->
<header class="header fixed-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/Fresh food.png" alt="Organic Food Logo" class="logo-img me-2">
        <span class="fw-bold text-success">Organic Food</span>
      </a>

      <!-- Toggle button for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu items and Search bar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Menu items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/manager']">Bảng điều khiển</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product']">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">Giỏ hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notification']">Thông báo</a>
          </li>
          <!-- Đăng nhập hoặc tên người dùng -->
          <li class="nav-item" *ngIf="!currentUser">
            <a class="nav-link" [routerLink]="['/login']">Đăng nhập</a>
          </li>
          <li class="nav-item" *ngIf="currentUser">
            <p class="nav-link" >{{ currentUser?.TenKhachHang || 'Khách' }}</p>
          </li>
          <li class="nav-item" *ngIf="currentUser">
            <button class="btn btn-success text-white ms-3" (click)="logOut()">Đăng xuất</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>